/* Settings Button Style ---------------------------------------------------- */
.btn-circle {
    width: 35px;
    height: 35px;
    text-align: center;
    padding: 6px 0;
    font-size: 14px;
    line-height: 1.33;
    border-radius: 20px;
}

.modal-lg {
  max-width: 650px;
}

.modal-content {
    padding: 10px;
}

/* Settings button type */
.btn-settings {
    right: 0px;
    position: absolute;
    transform: translate(-33%, 33%);
}

.btn-settings .fa-cog {
    transform: translate(-0.05px, -0.2px);
}

/* Button SASS generated style */
.btn-info {background-color:#294866; border-color: #294866;}
.btn-info:hover, .btn-outline-info:hover {background-color: #1e354b; border-color: #1a2e42;}
.btn-info:focus, .btn-info.focus, .btn-outline-info:focus, .btn-outline-info.focus {box-shadow: 0 0 0 3px rgba(41, 72, 102, 0.5);}
.btn-info.disabled, .btn-info:disabled, .btn-outline-info.disabled, .btn-outline-info:disabled {background-color: #294866; border-color: #294866;}
.btn-info:active, .btn-info.active,.show > .btn-info.dropdown-toggle, .btn-outline-info:active, .btn-outline-info.active,.show > .btn-outline-info.dropdown-toggle {background-color: #1e354b; background-image: none; border-color: #1a2e42;}
.btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show>.btn-info.dropdown-toggle, .btn-outline-info:not(:disabled):not(.disabled).active, .btn-outline-info:not(:disabled):not(.disabled):active, .show>.btn-outline-info.dropdown-toggle {background-color: #1e354b; border-color: #1a2e42;}
.btn-info:not(:disabled):not(.disabled):active:focus,.btn-primary:not(:disabled):not(.disabled).active:focus,.show>.btn-primary.dropdown-toggle:focus, .btn-outline-info:not(:disabled):not(.disabled):active:focus,.btn-outline-primary:not(:disabled):not(.disabled).active:focus,.show>.btn-outline-primary.dropdown-toggle:focus {box-shadow:0 0 0 .2rem rgba(41,72,102,0.5)}

.btn-outline-info {border-color: #294866; color: #123456;}

/* Alert box ----------------------------------------------------------------- */
.alert {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.11);
  display: table;
  width: 100%;
  padding-left: 45px;
}

.alert-white .icon span {
  font-size: 20px;
  left: 12px;
  margin-top: -10px;
  position: absolute;
  top: 50%;
}

/* Button Group Style -------------------------------------------------------- */
.flex-fill {
    flex: 1 1 0;
    width: 0;
}

#simulation-again .btn {
    margin: 0px 10px 0px 10px;
}

/* Run button tooltip -------------------------------------------------------- */
.tooltip-wrapper {
    display: inline-block;
}

.tooltip-wrapper .btn[disabled] {
    pointer-events: none;
}

.tooltip-inner {
    white-space:nowrap;
    max-width:none;
}

/* Datum Buttons ------------------------------------------------------------ */
.btn-group-datum {
    position: static;
}

#well-shaft-figure .btn-group, #poor-shaft-figure .btn-group {
    display: table;
}

#datum-wa.btn-tear, #datum-wb.btn-tear, #datum-pa.btn-tear, #datum-pb.btn-tear {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border-top-right-radius: 0;
    transform: rotate(-45deg);
    float: left;
}

.btn-tear-text {
    transform: rotate(45deg) translate(-1.5px, -2px);
}

#datum-wa {
    top: 40.5%;
    left: calc(30% - 17px);
    position: absolute;
}

#datum-wb {
    top: 40.5%;
    left: calc(44.2% - 17px);
    position: absolute;
}

#datum-pa {
    top: 41%;
    left: calc(32.5% - 17px);
    position: absolute;
}

#datum-pb {
    top: 41%;
    left: calc(42.3% - 17px);
    position: absolute;
}

/* Table Style -------------------------------------------------------------- */
#data-table {
    font-size: 0.75em;
    padding: 0px 10px 0px 10px;
}

#data-row1 th {
    color: rgb(41, 72, 102);
}

#data-row2 th {
    color: rgb(247, 151, 95);
}

.table .thead-dark th {
    background-color: #294866;
    border-right: 2px solid #294866;
    border-bottom: 0px;
}

.table td, .table th {
    padding: 0.5rem;
}

.btn-light:hover, .btn-outline-light:hover {border-color: #294866;}
.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle, .btn-outline-light:not(:disabled):not(.disabled).active, .btn-outline-light:not(:disabled):not(.disabled):active, .show>.btn-outline-light.dropdown-toggle {border-color: #294866;}

table .btn {
    display: table-cell;
    border-radius: 0px;
    border-color: #294866;
    padding: 0.5rem;
}

table .btn:not(:disabled):not(.disabled) {
    cursor: default;
}
