/* Help Button Style -------------------------------------------------------- */
.btn-circle {
    width: 35px;
    height: 35px;
    text-align: center;
    padding: 6px 0;
    font-size: 14px;
    line-height: 1.33;
    border-radius: 20px;
}

.modal-body .btn {
    vertical-align: bottom;
    padding: 3px 5px;
}

.modal-lg {
  max-width: 850px;
}

/* Help button type */
.btn-help {
    right: 0px;
    position: absolute;
    transform: translate(-33%, 33%);
}

/* Button SASS generated style */
.btn-info {background-color:#294866; border-color: #294866;}
.btn-info:hover, .btn-outline-info:hover {background-color: #1e354b; border-color: #1a2e42;}
.btn-info:focus, .btn-info.focus, .btn-outline-info:focus, .btn-outline-info.focus {box-shadow: 0 0 0 3px rgba(41, 72, 102, 0.5);}
.btn-info.disabled, .btn-info:disabled, .btn-outline-info.disabled, .btn-outline-info:disabled {background-color: #294866; border-color: #294866;}
.btn-info:active, .btn-info.active,.show > .btn-info.dropdown-toggle, .btn-outline-info:active, .btn-outline-info.active,.show > .btn-outline-info.dropdown-toggle {background-color: #1e354b; background-image: none; border-color: #1a2e42;}
.btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show>.btn-info.dropdown-toggle, .btn-outline-info:not(:disabled):not(.disabled).active, .btn-outline-info:not(:disabled):not(.disabled):active, .show>.btn-outline-info.dropdown-toggle {background-color: #1e354b; border-color: #1a2e42;}
.btn-info:not(:disabled):not(.disabled):active:focus,.btn-primary:not(:disabled):not(.disabled).active:focus,.show>.btn-primary.dropdown-toggle:focus, .btn-outline-info:not(:disabled):not(.disabled):active:focus,.btn-outline-primary:not(:disabled):not(.disabled).active:focus,.show>.btn-outline-primary.dropdown-toggle:focus {box-shadow:0 0 0 .2rem rgba(41,72,102,0.5)}

.btn-outline-info {border-color: #294866; color: #123456;}

/* Button Group Style -------------------------------------------------------- */
.flex-fill {
    flex: 1 1 0;
    width: 0;
}

#simulation-again .btn {
    margin: 0px 10px 0px 10px;
}

/* Run button tooltip -------------------------------------------------------- */
.tooltip-wrapper {
  display: inline-block;
}

.tooltip-wrapper .btn[disabled] {
  pointer-events: none;
}

.tooltip-inner {
  white-space:nowrap;
  max-width:none;
}

/* Label Button Style -------------------------------------------------------- */
.dropdown-toggle {
  font-family: century-gothic, sans-serif;
  font-size: 1.8vh;
}

.red-plus .dropdown-item.active, .red-plus .dropdown-item:active, .red-minus .dropdown-item.active, .red-minus .dropdown-item:active  {
    background-color: #dc3545;
}

.blue .dropdown-item.active, .blue .dropdown-item:active {
    background-color: #007bff;
}

/* Level button type */
.btn-lvl {
    position: absolute;
}

/* Input Shaft Buttons ------------------------------------------------------ */
#red-in20 {
    left: 37%;
    top: calc(8.5% - 34px);
}

#blue-in10 {
    left: 49%;
    top: calc(71% - 34px);
}
