/* Local CSS Style ---------------------------------------------------------- */
html, body {
    margin: 0;
    height: 100%;
}

body {
    font-style: normal;
    background: #fafafa;
}

figure {
    position: relative;
}

figure figcaption {
    padding-top: 10px;
    text-align: center;
}

.display-5 {
    font-size: 2.7rem;
    font-weight: 300;
    line-height: 1.2;
    margin-right: 20px;
}

#content .display-5 {
    white-space: nowrap;
}

.navbar-nav li {
    margin: 0px 3px;
}

.navbar-nav li a:hover, .navbar-nav > .active > a {
    color: #fff !important;
    border-radius: 2px;

    background-color:#294866 !important;
    background-image: none !important;
}

/* Tab Content -------------------------------------------------------------- */
#introduction-figure {
    float: right;
    margin-left: 20px;
    min-width: 500px;
    min-height: 400px;
}

#introduction-figure img, #input-figure img,
  #output-figure img, #housing-figure img, #simulation-figure img{
    border-radius: 2px;
}

#input-figure, #output-figure, #housing-figure {
    float: left;
    margin: 10px 20px 0px 0px;
}

#simulation-figure {
    float: left;
    margin-right: 30px;
}

#input-figure img, #output-figure img, #housing-figure img {
    max-height: 75vh;
}

#simulation-figure img {
    display: inline-block;
    max-height: 64vh;
}

#simulation-container .card {
    height: 64vh;
}

#simulation-plot {
    height: auto;
}

#sim-button {
    float: left;
}

#modal-figure {
    display: block;
    margin: auto;
    max-width: 400px;
    padding-top: 10px;
}

/* List Style --------------------------------------------------------------- */
/*.list-group-item {
    background-color: #fafafa;
}*/

ul.list-group:after {
  clear: both;
  display: block;
  content: "";
}

.list-group-item {
    border: 0 !important;
    margin: 0px 5px 10px 5px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
}
