/* Local CSS Style ---------------------------------------------------------- */
html, body {
    margin: 0;
    height: 100%;
}

body {
    font-style: normal;
    background: #fafafa;
}

figure {
    position: relative;
    margin: 0px 0px 0px 0px;
}

figure figcaption {
    padding-top: 10px;
    text-align: center;
}

.side-content {
    overflow: auto;
}

.display-5 {
    font-size: 2.7rem;
    font-weight: 300;
    line-height: 1.2;
    margin-right: 20px;
}

#content .display-5 {
    white-space: nowrap;
}

#content h2 {
  margin-bottom: 25px;
}

.navbar-nav li {
    margin: 0px 3px;
}

.navbar-nav li a:hover, .navbar-nav > .active > a {
    color: #fff !important;
    border-radius: 2px;

    background-color:#294866 !important;
    background-image: none !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #fff;
    background-color:#294866;
}

/* Tab Content -------------------------------------------------------------- */
.custom-card-tabs {
    /*z-index: -1;*/
    margin-top: -1px;
}

.nav-tabs {
    border-bottom: 0px solid #dee2e6; */
}

#introduction-figure {
    float: right;
    margin-left: 20px;
    min-width: 500px;
    min-height: 400px;
}

#introduction-figure img {
  max-width: 550px;
}

#introduction-figure img, #well-shaft-figure img, #spacer-figure img, #poor-shaft-figure img,
#well-housing-figure img, #poor-housing-figure img, #simulation-figure img{
    border-radius: 2px;
}

#well-shaft-figure, #spacer-figure, #poor-shaft-figure, #well-housing-figure, #poor-housing-figure {
    float: left;
    margin: 0px;
}

#simulation-figure {
    float: left;
    margin-right: 30px;
}

#shaft-content .card, #housing-content .card {
    max-width: 54vw;
    float: left;
    margin-right: 30px
}

#well-shaft-figure img, #spacer-figure img, #poor-shaft-figure img, #well-housing-figure img, #poor-housing-figure img {
    width: 100%;
}

#simulation-figure img {
    display: inline-block;
    max-height: 35.8vw;
}

#simulation-container .card {
    min-height: calc(35.8vw - 40px);
}

#simulation-plot {
    height: auto;
}

#sim-button {
    float: left;
}

.svg-container {
    width: auto;
}

.tol-single {
    margin-left: 20px;
}

/* List Style --------------------------------------------------------------- */
ul.list-group:after {
  clear: both;
  display: block;
  content: "";
}

.list-group-item {
    border: 0 !important;
    margin: 0px 5px 10px 5px;
}
